.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 80px 40px 20px;
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
.form::before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255,255,255, 0.08);
  transform: skewX(-26deg);
  transform-origin: bottom left;
  border-radius: 10px;
  pointer-events: none;
}
.form .icon {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  width: 100px;
  background: transparent;
  border-radius: 50%;
}
.form h2 {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 3px;
  margin-bottom: 2rem;
  color: #7FFF00;
}
.form .input-group {
  position: relative;
}
.form .input-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: inherit;
}
.form .input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
  transition: .3s ease-out;
}
.form .input-group input:focus + label,
.form .input-group input:valid + label {
  transform: translateY(-30px);
  color: #7FFF00;
  font-size: .8rem;
}

.close {
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
}

.submit-btn{
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    border: 0.3rem solid white;
    color: white;
    margin-top: 1.8rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 2rem;
    display: inline-flex;
    margin-left: 1.8rem;
}


.submit-btn:hover{
    background-color: white;
    color: #7FFF00;
}

/* google button */
  .google-btn {
    float: right;
    margin-right: 2rem;
    margin-top: 2.8rem;
    border: none;
    background-color: whitesmoke;
    border-radius: 50%
  }

  .google-icon-wrapper {
    display: inline-flex;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: transparent;
    float: right;
    border:none;
  }
  .google-icon {
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }

.register-text {
  background-color: transparent;
  border: none;
  color: #7FFF00;
  margin-top: 1.5rem;
  margin-left: 6.5rem;
  text-decoration: underline;
}

