*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s linear;
    outline: none;
}
html {
    max-width: 100%;
}
*::selection{
    background-color: yellowgreen;
    color: #fff;
}
body{
    font-family: 'Open Sans', sans-serif;
}